/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/deps/
Gemfile.lock
scarpe_results.txt
**/.DS_Store
logger/*.log
/docs/yard/template/default/doc
/docs/yard/template/default/.yardoc
*.gem
**/lacci-*.gem
ruby.wasm
ruby-3_2-wasm32-*.tar.gz
